
# Python
__pycache__/
*.pyc
*full.yml

# Virtual environments
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Data (important for IRB)
data/
raw/
sorted/
extracted/


# Large outputs
models/
checkpoints/


# Artifacts
*.egg-info/
*.egg
dist/
build/
